.flex-container{
    margin: auto;
    background-color: rgb(20, 117, 228);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container div{
    background-color: rgb(196, 196, 196);
    width: 10%;
    height: 10%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}